<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthGO | Appointment</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/appoint.css')}}">
    <!-- -->
</head>

<body>
    
    
    
    
    
    
    
    <!-- ............................... -->
    <div class="section" id="section">
        <div class="header">
            
            <!-- add header here -->
            <div id="title-bar">
        
                <div class="div1" id="div1">
                
                    <div class="div1-1">
                
                        <div class="div1-1-1">
                
                        </div>
                
                        <div class="div1-1-2" id="div1-1-2">
                            <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="img">
                        </div>
                
                        <div class="div1-1-3">
                
                        </div>
                
                    </div>
                
                    <div class="div1-2">
                
                        <ul class="list" id="list">
                            <div class="cont1">
                                <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                                        class="l1img1"><a href="http://127.0.0.1:5501/index.html" target="_blank" class="lia1"
                                        id="lia1">Home</a></li>
                                <div class="line1" id="line1"></div>
                            </div>
                
                            <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a href="#"
                                    target="_blank" class="lia2" id="lia2">About us</a></li>
                            <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                                    href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia3" id="lia3">Services</a></li>
                            <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                                    href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia4" id="lia4">Patient
                                    Resources</a></li>
                            <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                                    href="http://127.0.0.1:5500/index.html" target="_blank" class="lia5" id="lia5">Appointment</a></li>
                            <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}" class="l6img6"><a
                                    href="http://127.0.0.1:5500/index.html" target="_blank" class="lia6" id="lia6">Contact us</a></li>
                            <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                                    href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions" target="_blank"
                                    class="lia7" id="lia7">FAQs</a></li>
                        </ul>
                
                    </div>
                
                </div>




        </div>
        <div class="belowheader">

            <div class="textbanner " id="textbanner"><h1>Appoint a Doctor as per your Preferences</h1></div>
            

        </div>
        <div class="banner">
            <div class="block"></div>
        </div>
    </div>


    <div class="space"></div>
    <!-- <div class="belowheader">

        <div class="textbanner below "><h1>Appoint a Doctor as per your Preferences</h1></div>
        

    </div> -->
  <div class="bgimgset">
    <div class="ractmain overflow">
        <div class="ract scroll">
            <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VyZ2VyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="" srcset="">
                <div class="namelist scroll">
                    <!-- <div class="innernamelist"> -->
                        <div class="textbanner  "><h1>Surgeon</h1></div>

                   
                    
                    <!-- </div> -->

                </div>



        </div>
        <div class="ract2 scroll">
            <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VyZ2VyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="" srcset="">

        </div>



        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://t4.ftcdn.net/jpg/03/20/74/45/360_F_320744517_TaGkT7aRlqqWdfGUuzRKDABtFEoN5CiO.jpg" />

                        <div class="doctorname">

                            <h2>Dr. Noopur Singh</h2>
                            <p>MBBS, MS, FICS, FMAS, FIAGS
                               <br> Consultant General & Laparoscopic Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. Noopur Singh</h3>
                        <p>MBBS, MS, FICS, FMAS, FIAGS
                           </p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://t3.ftcdn.net/jpg/01/67/15/98/240_F_167159846_MCrwVzB7ysdZKr2vIiJkiCacEoNWagdn.jpg" />

                        <div class="doctorname">

                            <h2>Dr. AGARWAL MUDIT</h2>
                            <p>MBBS, MS, FIAGES,FICS (U.S.A),  Laparoscopic Surgeon & Laser Proctologist</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. AGARWAL MUDIT</h3>
                        <p>MBBS, MS, FIAGES,FICS (U.S.A),  Laparoscopic Surgeon & Laser Proctologist</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>









    </div>


    <div class="space1"></div>



    <div class="ractmain overflow">




        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://static.vecteezy.com/system/resources/thumbnails/000/798/327/small/female-doctor-in-hospital-interior.jpg" />

                        <div class="doctorname">

                            <h2>Dr. Puja Agarwal</h2>
                            <p>MBBS,MD,DNB(PATHOLGY)</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. Puja Agarwal</h3>
                        <p>MBBS,MD,DNB(PATHOLGY)</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://media.gettyimages.com/id/109374808/photo/portrait-of-doctor.jpg?s=612x612&w=0&k=20&c=Tsmc4ULERGjhgnEWnnj51bZKZpvrd5X32QGWn4hhSFI=" />

                        <div class="doctorname">

                            <h2>Dr. AGARWAL MUDIT</h2>
                            <p>MBBS,MD,DNB(PATHOLGY)</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. AGARWAL MUDIT</h3>
                        <p>MBBS,MD,DNB(PATHOLGY)</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        <div class="outerrect">



            <div class="ract3 scroll">
                <img src="https://media.istockphoto.com/id/1171660014/photo/woman-scientist-looking-through-a-microscope.jpg?s=612x612&w=0&k=20&c=YNYz05W4KtOFviM8Akcg8sZqxjBGomKwB0JIGASQ79c="
                    alt="" srcset="">
                    <div class="namelist scroll">
                        <div class="textbanner black "><h1>Pathology</h1></div>
    
                    </div>
            </div>
            <div class="ract31 scroll">

                <!-- +++++++++++++++++++++++++++++++ -->
                <img src="https://media.istockphoto.com/id/1171660014/photo/woman-scientist-looking-through-a-microscope.jpg?s=612x612&w=0&k=20&c=YNYz05W4KtOFviM8Akcg8sZqxjBGomKwB0JIGASQ79c="
                    alt="" srcset="">

            </div>

        </div>









    </div>

    <div class="space1"></div>

    <div class="ractmain overflow">
        <div class="ract scroll">
            <img src="https://media.istockphoto.com/id/1406476239/photo/doctor-examines-oral-cavity-of-little-child-uses-mouth-mirror-to-checking-teeth-cavity.jpg?b=1&s=170667a&w=0&k=20&c=4aEv8-q50UUOqDX4CqMFIiFgx57HnbMIhJkYRbHnH3E="
                alt="" srcset="">
                <div class="namelist scroll">
                    <!-- <div class="innernamelist"> -->

                   
                        <div class="textbanner black "><h1>Dentist</h1></div>
                    <!-- </div> -->

                </div>



        </div>
        <div class="ract2 scroll">
            <img src="https://media.istockphoto.com/id/1406476239/photo/doctor-examines-oral-cavity-of-little-child-uses-mouth-mirror-to-checking-teeth-cavity.jpg?b=1&s=170667a&w=0&k=20&c=4aEv8-q50UUOqDX4CqMFIiFgx57HnbMIhJkYRbHnH3E="
                alt="" srcset="">

        </div>



        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJKIJbCbsahL7J266Vc6JMRLXF-ccbp5ii01cbTJFQVw&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. MUDIT AGARWAL </h2>
                            <p>B.D.S, M.D.S. (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. MUDIT AGARWAL</h3>
                        <p>B.D.S, M.D.S. (Orthodontics)
                            Consultant Orthodontist & Dental Surgeon</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi1yDYe97v-cj0wNnC0uur7AxL9c38zMHuAcz8PPH92CHSJDAI4aKgf0sGPXoNpHwQnR3hP7zfHyA&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. SOURAV KUMAR </h2>
                            <p>MBBS,MD,DNB (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. SOURAV KUMAR </h3>
                            <p>MBBS,MD,DNB (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>

                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>









    </div>


    <div class="space1"></div>



    <div class="ractmain overflow">




        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKwaffY2ovKUmmKv33LixRz25qShuzXWTuYFbpVOEsfg&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. ADITI JAISWAL</h2>
                            <p>MBBS,MD,DNB(Neurologist)
                                Consultant Neurologist &  Surgeon
                            </p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. ADIT JAISWAL</h3>
                        <p>MBBS,MD,DNB(Neurologist)
                            Consultant Neurologist &  Surgeon
                        </p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqe_H6wxF1tj8CvDVTUN31yHpENyDdy4iKW2QRjcZxug&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. ADITYA KUMAR</h2>
                            <p>MBBS,MD,DNB(Neurologist)
                                Consultant Neurologist &  Surgeon
                            </p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. ADITYA KUMAR</h3>
                        <p>MBBS,MD,DNB(Neurologist) 
                            ConsultantNeurologist &  Surgeon</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        <div class="outerrect">



            <div class="ract3 scroll">
                <img src="https://media.istockphoto.com/id/1199813214/photo/brain-disease-diagnosis-with-medical-doctor-seeing-magnetic-resonance-imaging-film-diagnosing.jpg?s=612x612&w=0&k=20&c=nQma1MoxpBOHYG48_tVJ8akGg8dU33ca3YlvMLeFqrk="
                    alt="" srcset="">
                    <div class="namelist scroll">
                        <div class="textbanner black "><h1>Neurologist</h1></div>
    
                    </div>
            </div>
            <div class="ract31 scroll">

                <img src="https://media.istockphoto.com/id/1199813214/photo/brain-disease-diagnosis-with-medical-doctor-seeing-magnetic-resonance-imaging-film-diagnosing.jpg?s=612x612&w=0&k=20&c=nQma1MoxpBOHYG48_tVJ8akGg8dU33ca3YlvMLeFqrk="
                    alt="" srcset="">

            </div>

        </div>









    </div>

    <div class="space1"></div>
    <div class="ractmain overflow">
        <div class="ract scroll">
            <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VyZ2VyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="" srcset="">
                <div class="namelist scroll">
                    <!-- <div class="innernamelist"> -->
                        <div class="textbanner  "><h1>Surgeon</h1></div>

                   
                    
                    <!-- </div> -->

                </div>



        </div>
        <div class="ract2 scroll">
            <img src="https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VyZ2VyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                alt="" srcset="">

        </div>



        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://t4.ftcdn.net/jpg/03/20/74/45/360_F_320744517_TaGkT7aRlqqWdfGUuzRKDABtFEoN5CiO.jpg" />

                        <div class="doctorname">

                            <h2>Dr. Noopur Singh</h2>
                            <p>MBBS, MS, FICS, FMAS, FIAGS
                               <br> Consultant General & Laparoscopic Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. Noopur Singh</h3>
                        <p>MBBS, MS, FICS, FMAS, FIAGS
                           </p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://t3.ftcdn.net/jpg/01/67/15/98/240_F_167159846_MCrwVzB7ysdZKr2vIiJkiCacEoNWagdn.jpg" />

                        <div class="doctorname">

                            <h2>Dr. AGARWAL MUDIT</h2>
                            <p>MBBS, MS, FIAGES,FICS (U.S.A),  Laparoscopic Surgeon & Laser Proctologist</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. AGARWAL MUDIT</h3>
                        <p>MBBS, MS, FIAGES,FICS (U.S.A),  Laparoscopic Surgeon & Laser Proctologist</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>









    </div>


    <div class="space1"></div>



    <div class="ractmain overflow">




        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://static.vecteezy.com/system/resources/thumbnails/000/798/327/small/female-doctor-in-hospital-interior.jpg" />

                        <div class="doctorname">

                            <h2>Dr. Puja Agarwal</h2>
                            <p>MBBS,MD,DNB(PATHOLGY)</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. Puja Agarwal</h3>
                        <p>MBBS,MD,DNB(PATHOLGY)</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://media.gettyimages.com/id/109374808/photo/portrait-of-doctor.jpg?s=612x612&w=0&k=20&c=Tsmc4ULERGjhgnEWnnj51bZKZpvrd5X32QGWn4hhSFI=" />

                        <div class="doctorname">

                            <h2>Dr. AGARWAL MUDIT</h2>
                            <p>MBBS,MD,DNB(PATHOLGY)</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. AGARWAL MUDIT</h3>
                        <p>MBBS,MD,DNB(PATHOLGY)</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        <div class="outerrect">



            <div class="ract3 scroll">
                <img src="https://media.istockphoto.com/id/1171660014/photo/woman-scientist-looking-through-a-microscope.jpg?s=612x612&w=0&k=20&c=YNYz05W4KtOFviM8Akcg8sZqxjBGomKwB0JIGASQ79c="
                    alt="" srcset="">
                    <div class="namelist scroll">
                        <div class="textbanner black "><h1>Pathology</h1></div>
    
                    </div>
            </div>
            <div class="ract31 scroll">

                <!-- +++++++++++++++++++++++++++++++ -->
                <img src="https://media.istockphoto.com/id/1171660014/photo/woman-scientist-looking-through-a-microscope.jpg?s=612x612&w=0&k=20&c=YNYz05W4KtOFviM8Akcg8sZqxjBGomKwB0JIGASQ79c="
                    alt="" srcset="">

            </div>

        </div>









    </div>

    <div class="space1"></div>

    <div class="ractmain overflow">
        <div class="ract scroll">
            <img src="https://media.istockphoto.com/id/1406476239/photo/doctor-examines-oral-cavity-of-little-child-uses-mouth-mirror-to-checking-teeth-cavity.jpg?b=1&s=170667a&w=0&k=20&c=4aEv8-q50UUOqDX4CqMFIiFgx57HnbMIhJkYRbHnH3E="
                alt="" srcset="">
                <div class="namelist scroll">
                    <!-- <div class="innernamelist"> -->

                   
                        <div class="textbanner black "><h1>Dentist</h1></div>
                    <!-- </div> -->

                </div>



        </div>
        <div class="ract2 scroll">
            <img src="https://media.istockphoto.com/id/1406476239/photo/doctor-examines-oral-cavity-of-little-child-uses-mouth-mirror-to-checking-teeth-cavity.jpg?b=1&s=170667a&w=0&k=20&c=4aEv8-q50UUOqDX4CqMFIiFgx57HnbMIhJkYRbHnH3E="
                alt="" srcset="">

        </div>



        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJKIJbCbsahL7J266Vc6JMRLXF-ccbp5ii01cbTJFQVw&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. MUDIT AGARWAL </h2>
                            <p>B.D.S, M.D.S. (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. MUDIT AGARWAL</h3>
                        <p>B.D.S, M.D.S. (Orthodontics)
                            Consultant Orthodontist & Dental Surgeon</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi1yDYe97v-cj0wNnC0uur7AxL9c38zMHuAcz8PPH92CHSJDAI4aKgf0sGPXoNpHwQnR3hP7zfHyA&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. SOURAV KUMAR </h2>
                            <p>MBBS,MD,DNB (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. SOURAV KUMAR </h3>
                            <p>MBBS,MD,DNB (Orthodontics)
                                Consultant Orthodontist & Dental Surgeon</p>

                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>









    </div>


    <div class="space1"></div>



    <div class="ractmain overflow">




        <div class="cardcontainer">
            <div class="newcontainer ">
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKwaffY2ovKUmmKv33LixRz25qShuzXWTuYFbpVOEsfg&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. ADITI JAISWAL</h2>
                            <p>MBBS,MD,DNB(Neurologist)
                                Consultant Neurologist &  Surgeon
                            </p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. ADIT JAISWAL</h3>
                        <p>MBBS,MD,DNB(Neurologist)
                            Consultant Neurologist &  Surgeon
                        </p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app" id="app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
                <div class="card1 scroll">
                    <div class="imgbox">
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqe_H6wxF1tj8CvDVTUN31yHpENyDdy4iKW2QRjcZxug&usqp=CAU&ec=48665701" />

                        <div class="doctorname">

                            <h2>Dr. ADITYA KUMAR</h2>
                            <p>MBBS,MD,DNB(Neurologist)
                                Consultant Neurologist &  Surgeon
                            </p>




                        </div>


                    </div>

                    <div class="content">
                        <h3>Dr. ADITYA KUMAR</h3>
                        <p>MBBS,MD,DNB(Neurologist) 
                            ConsultantNeurologist &  Surgeon</p>
                        <p>
                            Available(All day):-<br> 10Am-1.30pm & 4pm-8pm

                        </p>


                        <div class="contactdoc">

                            <div class="innerdoc app"></div>
                            <div class="innerdoc chat"></div>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        <div class="outerrect">



            <div class="ract3 scroll">
                <img src="https://media.istockphoto.com/id/1199813214/photo/brain-disease-diagnosis-with-medical-doctor-seeing-magnetic-resonance-imaging-film-diagnosing.jpg?s=612x612&w=0&k=20&c=nQma1MoxpBOHYG48_tVJ8akGg8dU33ca3YlvMLeFqrk="
                    alt="" srcset="">
                    <div class="namelist scroll">
                        <div class="textbanner black "><h1>Neurologist</h1></div>
    
                    </div>
            </div>
            <div class="ract31 scroll">

                <img src="https://media.istockphoto.com/id/1199813214/photo/brain-disease-diagnosis-with-medical-doctor-seeing-magnetic-resonance-imaging-film-diagnosing.jpg?s=612x612&w=0&k=20&c=nQma1MoxpBOHYG48_tVJ8akGg8dU33ca3YlvMLeFqrk="
                    alt="" srcset="">

            </div>

        </div>









    </div>

    <div class="space1"></div>
  </div>






    <!-- ................TO COPY.................... -->


   <!-- footer -->

   <div class="footer" id="footer">

    <div class="f-img">
        <img src="/images/logo-no-background.png" alt="footer-image" class="f-image" id="f-image">
    </div>

    <div class="f-mid" id="f-mid">
         <div class="f-contents" id="f-contents">
            <div class="f-cont-para" id="f-cont-para">
                <p>KEY FEATURES :- </p><br>
            </div>
            <div class="f-cont-list"> 
                <ul>
                    <li><a href="#">STROKE PREDICTOR</a></li>
                    <li><a href="#">HEART PREDICTOR</a></li>
                    <li><a href="#">BED BOOKING</a></li>
                    <li><a href="#">APPOINT A DOCTER</a></li>
                </ul>
            </div>
            <div class="policy">
                <ul>
                    <li>PRIVACY POLICY</li>
                    <li>TERMS AND CONDITIONS</li>
                </ul>
            </div>
         </div>
         <div class="f-app" id="f-app">
            <div class="app1">
                <p>LET'S GO <span class="android"> &nbsp ANDROID</span></p>
            </div>
            <div class="app2">
                <button type="button" for="" value="" onclick="getMyLink()" class="button">Download</button>
            </div>
            <div class="app3">
                <p>for best user experience</p>
            </div>
         </div>
         <div class="f-social" id="f-social">
            <div class="follow-us">
                <p>FOLLOW US</p>
            </div>
            <div class="social-icons">
                    <img src="https://cdn-icons-png.flaticon.com/512/6033/6033716.png" alt="meta" onclick="gotometa()">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="twitter" onclick="gototwitter()">
                    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111499.png" alt="google" onclick="gotogoogle()">
            </div>
            <div class="mail">
                <br>
                <p><span class="chat">LET's CHAT</span><br>
                healthgo123@gmail.com <br>
                +91 1234567890 <br>
                +91 1234567890</p>
            </div>
         </div>
    </div>

    <div class="copyright" id="copyright">
        <!-- <div class="f-c-1"> 
            <p>© 2023 HealthGO | All rights are reserved.| India</p>
        </div> -->
        <div class="made">
            <p>made with <span class="love"> &nbsp♥&nbsp</span> by <span class="rt"> &nbsp RUNTIME TERROR</span></p>
        </div>
        <div class="consi">
            <div class="contributors">
                <p> Contributors : <span class="auto-type"></span></p>
            </div>
            <div class="rights">
                <p>© 2023 HealthGO | All rights are reserved.| India</p>
            </div>
        </div>
        
    </div>

</div>




<!-- js -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>




</body>
<script src="{{url_for('static',filename='js/appoint.js')}}"></script>

</html>