<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title id="title">Health GO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bedbook.css')}}" />
    <meta name="robots" content="">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/4850/4850909.png" type="image/x-icon" id="icon">

<body class="form-v10">

<div id="title-bar">

    <div class="div1" id="div1">
    
        <div class="div1-1">
    
            <div class="div1-1-1">
    
            </div>
    
            <div class="div1-1-2" id="div1-1-2">
                <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="img">
            </div>
    
            <div class="div1-1-3">
    
            </div>
    
        </div>
    
        <div class="div1-2">
    
            <ul class="list" id="list">
                <div class="cont1">
                    <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                            class="l1img1"><a href="{{url_for('index')}}" class="lia1" id="lia1">Home</a></li>
                    <div class="line1" id="line1"></div>
                </div>
    
                <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a href="#"
                        target="_blank" class="lia2" id="lia2">About us</a></li>
                <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                        href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia3" id="lia3">Services</a></li>
                <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                        href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia4" id="lia4">Patient
                        Resources</a></li>
                <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                        href="http://127.0.0.1:5500/index.html" target="_blank" class="lia5" id="lia5">Appointment</a></li>
                <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}" class="l6img6"><a
                        href="http://127.0.0.1:5500/index.html" target="_blank" class="lia6" id="lia6">Contact us</a></li>
                <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                        href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions" target="_blank"
                        class="lia7" id="lia7">FAQs</a></li>
            </ul>
    
        </div>
    
    </div>

<!-- </div> -->


<!-- </div> -->
     </div>


     <div class="page-content">
        <div class="bedhead">BOOK YOUR BED</div>


        <div class="form-v10-content" id="top">
            <form class="form-detail" action="{{url_for('bookbed')}}" method="post" id="myform">
                <div class="form-left">
                    <h2>General Infomation</h2> 
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" name="first_name" id="first_name" class="input-text"
                               placeholder="First Name" required>
                        </div>
                        <div class="form-row form-row-2">
                            <input type="text" name="last_name" id="last_name" class="input-text"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-row form-row-1 Age">
                            <label for="">Age
                            </label>
                                <input type="number" id="number" name="age" value="number" min="5" max="122" placeholder="" required>
                        </div>
                        <div class="form-row form-row-1 radio">
                            <label for="">Gender
                            </label>
                            <input type="radio"  name="gender" value="Male" required><label for="yes">Male</label>
                            <input type="radio"  name="gender" value="Female" required><label for="no">Female</label>
                            </div>
                       
                    </div>
                    <div class="form-row">
                        <div class="form-row form-row-1 hospital">
                            <label for="">Hospital Name
                            </label>
                                <!-- <input type="number" id="number" name="number" value="number" min="5" max="122" placeholder="" required> -->
                                <select name="hospital-name-select" id="hospital-name-select" required>
                                    <!-- <option value="Medanta-The-Medicity">Medanta The Medicity</option>
                                    <option value="Fortis-Memorial-Research-Institute">Fortis Memorial Research Institute</option>
                                    <option value="Artemis-Hospital">Artemis Hospital</option>
                                    <option value="Apollo-Hospitals">Apollo Hospitals</option>
                                    <option value="Manipal-Hospitals">Manipal Hospitals</option> -->
                                    {% for hospital in hospitals %}
                                    <option value="{{hospital['Email']}}">{{hospital['Name']}}</option>
                                    {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="text" name="problem"  placeholder="Mention You Problem" required>
                    </div>
                    <div class="form-group">
                        <div class="form-row form-row-1  ambu">
                            <label for="">
                                Need Ambulance ?
                            </label>
                            <input type="radio"  name="call-ambulance" value="Yes" required><label for="yes">Yes</label>
                            <input type="radio"  name="call-ambulance" value="No" required><label for="no">No</label>
                            </div>
                        <!-- <div class="form-row form-row-4"> -->
                            <!-- <select name="employees"> -->
                                <!-- <option value="employees">Employees</option> -->
                                <!-- <option value="trainee">Trainee</option> -->
                                <!-- <option value="colleague">Colleague</option> -->
                                <!-- <option value="associate">Associate</option> -->
                            <!-- </select> -->
                            <!-- <span class="select-btn">
                                <i class="zmdi zmdi-chevron-down"></i>
                            </span> -->
                        <!-- </div> -->
                    </div>
                </div>
                <div class="form-right">
                    <h2>Contact Details</h2>
                    <div class="form-row">
                        <input type="text" name="address" class="street" id="street" placeholder="Address.." required>
                    </div>
                   
                    <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" name="pin"   placeholder="Pin Code" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="email" name="email" id="your_email" class="input-text" required
                            placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <!-- <div class="form-row form-row-1">
                            <input type="text" name="code" class="code" id="code" placeholder="Code +" required>
                        </div> -->
                        <div class="form-row form-row-1">
                            <input type="text" name="phone" class="phone" id="phone" value="+91 " placeholder="Phone Number"
                                required>
                        </div>
                    </div>
                    <div class="form-row">
                        <input type="text" name="feedback" class="" id=""
                            placeholder="Feedback(if any)" required>
                    </div>
                    <div class="form-checkbox">
                        <label class="container">
                            <p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
                            <input type="checkbox" name="checkbox" required>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="form-row-last submit">
                        <input type="submit" name="submit" class="register" value="Submit">
                        <input type="reset" name="reset" class="register" value="Reset">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>

    <div class="footer" id="footer">

        <div class="f-img">
            <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="footer-image" class="f-image" id="f-image">
        </div>

        <div class="f-mid" id="f-mid">
             <div class="f-contents" id="f-contents">
                <div class="f-cont-para" id="f-cont-para">
                    <p>KEY FEATURES :- </p><br>
                </div>
                <div class="f-cont-list"> 
                    <ul>
                        <li><a href="#">STROKE PREDICTOR</a></li>
                        <li><a href="#">HEART PREDICTOR</a></li>
                        <li><a href="#">BED BOOKING</a></li>
                        <li><a href="#">APPOINT A DOCTER</a></li>
                    </ul>
                </div>
                <div class="policy">
                    <ul>
                        <li>PRIVACY POLICY</li>
                        <li>TERMS AND CONDITIONS</li>
                    </ul>
                </div>
             </div>
             <div class="f-app" id="f-app">
                <div class="app1">
                    <p>LET'S GO <span class="android"> &nbsp ANDROID</span></p>
                </div>
                <div class="app2">
                    <button type="button" for="" value="" onclick="getMyLink()" class="button">Download</button>
                </div>
                <div class="app3">
                    <p>for best user experience</p>
                </div>
             </div>
             <div class="f-social" id="f-social">
                <div class="follow-us">
                    <p>FOLLOW US</p>
                </div>
                <div class="social-icons">
                        <img src="https://cdn-icons-png.flaticon.com/512/6033/6033716.png" alt="meta" onclick="gotometa()">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="twitter" onclick="gototwitter()">
                        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111499.png" alt="google" onclick="gotogoogle()">
                </div>
                <div class="mail">
                    <br>
                    <p><span class="chat">LET's CHAT</span><br>
                    healthgo123@gmail.com <br>
                    +91 1234567890 <br>
                    +91 1234567890</p>
                </div>
             </div>
        </div>

        <div class="copyright" id="copyright">
            <div class="made">
                <p>made with <span class="love"> &nbsp♥&nbsp</span> by <span class="rt"> &nbsp RUNTIME TERROR</span></p>
            </div>
            <div class="consi">
                <div class="contributors">
                    <p> Contributors : <span class="auto-type"></span></p>
                </div>
                <div class="rights">
                    <p>© 2023 HealthGO | All rights are reserved.| India</p>
                </div>
            </div>
            
        </div>

    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="{{url_for('static',filename='js/bedbook.js')}}"></script>

</html>