<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthGO | Your Bed Booking</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bookings.css')}}">
</head>

<body>

    <!-- navigation bars -->
    <div id="main">
    
        <!-- navbar -->
        <div id="navbar">
    
            <div class="div1">
                <div class="logo">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='images/healthgologo2.png')}}"
                            alt="logo"></a>
                </div>
            </div>
    
            <div class="div2">
                <ul class="list">
                    <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                            class="l1img1"><a href="{{url_for('index')}}" target="_blank" class="lia1">Home</a></li>
                    <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a
                            href="#" target="_blank" class="lia2">About us</a></li>
                    <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                            href="{{url_for('index')}}" target="_blank" class="lia3">Services</a></li>
                    <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                            href="{{url_for('index')}}" target="_blank" class="lia4">Patient Resources</a></li>
                    <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                            href="{{url_for('index')}}" target="_blank" class="lia5">Appointment</a></li>
                    <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}"
                            class="l6img6"><a href="{{url_for('index')}}" target="_blank" class="lia6">Contact us</a></li>
                    <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                            href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions"
                            target="_blank" class="lia7">FAQs</a></li>
                </ul>
            </div>
    
            <div class="div3">
                <a href="#"><img src="{{url_for('static',filename='images/menu.png')}}" alt="menu" class="menu" id="menuid"
                        onclick="toggleMenu()"></a>
            </div>
    
        </div>
    
        <div id="nav2">
    
            <div class="search">
                <form action="https://www.google.com/search?q" class="form" target="_blank">
                    <input name="q" type="text" placeholder="Search for Medicines and Health Products" class="search-bar">
                    <button type="submit" class="submit-button"><img
                            src="{{url_for('static',filename='images/search.png')}}" alt="search-icon"
                            class="submit-image"></button>
                </form>
            </div>
    
            <div class="login-signup">
                <a href="{{url_for('login')}}"
                    target="_blank"><button type="login" class="login-button">Login</button></a>
                <a href="{{url_for('login')}}"
                    target="_blank"><button type="signup" class="signup-button">Sign Up</button></a>
            </div>
    
        </div>
    
    </div>
    
    <!-- ************************************************************************************************ -->


    <div class="about">
        <div class="smallbox">
            <div class="contantsmallbox">
                "Good health is a crown on the head of a well person that only a sick person can see."</div>
            



        </div>

    </div>

    <div class="heading">
        List of Bed Booked
    </div>
    
            <table>
                <tr>
                    <th class="name">Name</th>
                    <th class="age">Age</th>
                    <th class="problem">Problem</th>
                    <th class="ambulance">Need<br> Ambulance</th>
                    <th class="mobile">Mobile<br> Number</th>
                    <th class="address">Address</th>
                    <th class="feedback">Feedback</th>
                </tr>
                {% for booking in docs %}
                <tr>
                    <td class="name">{{ booking['Name'] }}</td>
                    <td class="age">{{ booking['Age'] }}</td>
                    <td class="problem">{{ booking['Problem'] }}</td>
                    <td class="ambulance">{{ booking['Need_Ambulance'] }}</td>
                    <td class="mobile">{{ booking['Mobile_Number'] }}</td>
                    <td class="address">{{ booking['Address'] }}</td>
                    <td class="feedback">{{ booking['Feedback'] }}</td>
                </tr>
               
                {% endfor %}
            </table>

            <!-- footer -->
            <div class="footer">
                <div class="footerbox">
                    <div class="footerad">
                        <div class="ad ad1"><img class="location" src="{{url_for('static',filename='images/pin.png')}}" srcset="">
                            <div class="address">Corporate HQ
                                33rd Floor, Aspect Towers,
                                Business Bay, Dubai, UAE</div>
                        </div>
                        <div class="ad ad2"><img class="location" src="{{url_for('static',filename='images/mail.png')}}" srcset="">
                            <div class="address">chq@asterdmhealthcare.com</div>
                        </div>
                        <div class="ad ad3"><img class="location" src="{{url_for('static',filename='images/telephone.png')}}"
                                srcset="">
                            <div class="address">+91 256548952/5555
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="footerinfo">
                    <div class="infobox about1">
                        <div>
            
                            About Us<br>
            
                            Our Journey<br>
                            Our Services<br>
                            Corporate Governance<br>
                            Leadership<br>
                            Board of Directors<br>
                            Quality Policy<br>
                            Data Privacy and Cookie Policy
            
            
            
                        </div>
                        <div>
            
            
                            Global Network<br>
                            Investors<br>
                            Aster Volunteers<br>
                            Newsroom<br>
            
                            Health Library<br>
                            Resources<br>
                            Videos<br>
            
            
            
                        </div>
                        <div >
                            <h1><u>HealthGO</u></h1>
            
                        </div>
            
                    </div>
                    <div class="infobox thought">
                        “Time and health are two precious assets that we don't recognize and appreciate until they have been
                        depleted."
                        <div class="tag">
                            <h3><b><u>HealthGO</u></b></h3>
                        </div>
                        <h6>India's only LegitScript and ISO/ IEC 27001 certified online healthcare platform</h6>
                    </div>
                    <div class="infobox">
                        Subscribe to our Newsletter<br>
                        <div class="emailsearch">
                            <input type="text" class="inputtext" value="" placeholder="Enter your email here">
                            <img src="{{url_for('static',filename='images/SendIcon.svg')}}" class="inputimg" alt="" srcset="">
            
                        </div>
                        <div class="name">
            
                            Stay informed<br>
                            <h1><u>HealthGO</u></h1>
                        </div>
            
                        <!-- <div class="icon">
                            <img class="face" src="{{url_for('static',filename='images/facebook.png')}}" alt="" srcset="">
                            <img class="face" src="{{url_for('static',filename='images/twitter2.png')}}" alt="" srcset="">
                            <img class="face" src="{{url_for('static',filename='images/instagram.png')}}" alt="" srcset="">
                            <img class="face" src="{{url_for('static',filename='images/linkedin.png')}}" alt="" srcset="">
                            <img class="face" src="{{url_for('static',filename='images/youtube.png')}}" alt="" srcset="">
            
                        </div> -->
                        <div class="last">
                            © 2023 HealthGO DM Healthcare. All rights reserved.<br>
                            Designed and Developed by HealthGO-service
            
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            <script src="{{url_for('static',filename='js/demo.js')}}"></script>
            </body>
            
            </html>