<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Health GO</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/faqs.css')}}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/4850/4850909.png" type="image/x-icon" id="icon">
</head>
<body>

    <!-- nav-bar -->

    <div id="title-bar">

        <div class="div1" id="div1">
        
            <div class="div1-1">
        
                <div class="div1-1-1">
        
                </div>
        
                <div class="div1-1-2" id="div1-1-2">
                    <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="img">
                </div>
        
                <div class="div1-1-3">
        
                </div>
        
            </div>
        
            <div class="div1-2">
        
                <ul class="list" id="list">
                    <div class="cont1">
                        <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                                class="l1img1"><a href="http://127.0.0.1:5501/index.html" target="_blank" class="lia1"
                                id="lia1">Home</a></li>
                        <div class="line1" id="line1"></div>
                    </div>
        
                    <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a href="#"
                            target="_blank" class="lia2" id="lia2">About us</a></li>
                    <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                            href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia3" id="lia3">Services</a></li>
                    <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                            href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia4" id="lia4">Patient
                            Resources</a></li>
                    <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                            href="http://127.0.0.1:5500/index.html" target="_blank" class="lia5" id="lia5">Appointment</a></li>
                    <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}" class="l6img6"><a
                            href="http://127.0.0.1:5500/index.html" target="_blank" class="lia6" id="lia6">Contact us</a></li>
                    <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                            href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions" target="_blank"
                            class="lia7" id="lia7">FAQs</a></li>
                </ul>
        
            </div>
        
        </div>

        <!-- faq's main -->

        <div class="faq">
            <img src="https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=1060&t=st=1684661781~exp=1684662381~hmac=58db1c53ef2acaf58035388e13d7104b3fd2ba796478a42dd9a6a23db81de16e" alt="background">
            <div class="cont">
                <div class="first">
                    <h3>Overview</h3>
                    <h5>What can i expect to find here ?</h5>
                    <p>
                        In a word: support. We understand that your health journey is just that, your journey. So we’ve created a space where you can find the support and resources that you need. From group conversations to one-to-one messaging to medically-reviewed articles, there’s something for everyone. Here’s just a taste of what you can expect to find:<br>
                        <ul>
                        <li>Learn something new every day with community-led, text-based live chats.</li>
                        <li>Gain advice from those who have been there before with one-to-one messaging.</li>
                        <li>Discover curated medical resources from a library of content.</li>
                        <li>A Guide that can help you through it all. You can quickly identify the Guide by the badge next to her username.</li>
                        </ul>
                    </p>
                    <h5>What is Health GO ?</h5>
                    <p>
                        HealthGO Media is the top ranked health publisher and number 44 on Comscore’s Top 100 Property rankings. Across all of its properties, HealthGO Media each month publishes up to 1,000 scientifically accurate yet reader-friendly articles authored by more than 120 writers and reviewed by more than 100 doctors, clinicians, nutritionists, and other experts. The company’s repository contains more than 70,000 articles, each updated with current protocol.
                        <br><br>
                        More than 200 million people worldwide and 86 million people in the U.S. visit HealtthGO’s sites each month, according to Google Analytics and Comscore, respectively.
                    </p>
                    <h5>Is my data secure ?</h5>
                    <p>
                        Yes. We are committed to protecting your information and will never share or disclose your personal information with any third-party. You can read our full Privacy Policy in your account settings.
                    </p>
                </div>
                <div class="second">
                    <h3>New Member Basics</h3>
                    <h5>I'm new here. Where do i start ?</h5>
                    <p>
                        Welcome to the community! We’re so happy to have you here. We recommend a few things to help you get started:
                        <br>
                        <ul>
                            <li>                        Make sure that you’ve filled out your profile completely. Not only will this allow other members to get to know you, but it will also help us to curate the articles, posts, and members that best fit you and your journey.
                            </li>
                            <li>                        Say “hello” and introduce yourself in our welcome forum! Posting in this forum is a great way to find other new members and get to know your community. You can find this forum at the top of the list—it’s called, Come say “hello!”
                            </li>
                            <li>                        Enable your push notifications to receive the latest news updates, post mentions, and live chat alerts. You can edit your notification preferences from your account settings (Note: Tap on the gear icon at the top of your profile screen to edit).
                            </li>
                            <li>                        Finally, join us for a live chat and get a feel for what’s happening in the community. These take place every Sunday through Thursday at 5:00 pm PT/8:00 pm ET in the Live Discussions group.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!-- footer -->

        <div class="footer" id="footer">

            <div class="f-img">
                <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="footer-image" class="f-image" id="f-image">
            </div>
    
            <div class="f-mid" id="f-mid">
                 <div class="f-contents" id="f-contents">
                    <div class="f-cont-para" id="f-cont-para">
                        <p>KEY FEATURES :- </p><br>
                    </div>
                    <div class="f-cont-list"> 
                        <ul>
                            <li><a href="#">STROKE PREDICTOR</a></li>
                            <li><a href="#">HEART PREDICTOR</a></li>
                            <li><a href="#">BED BOOKING</a></li>
                            <li><a href="#">APPOINT A DOCTER</a></li>
                        </ul>
                    </div>
                    <div class="policy">
                        <ul>
                            <li>PRIVACY POLICY</li>
                            <li>TERMS AND CONDITIONS</li>
                        </ul>
                    </div>
                 </div>
                 <div class="f-app" id="f-app">
                    <div class="app1">
                        <p>LET'S GO <span class="android"> &nbsp ANDROID</span></p>
                    </div>
                    <div class="app2">
                        <button type="button" for="" value="" onclick="getMyLink()" class="button">Download</button>
                    </div>
                    <div class="app3">
                        <p>for best user experience</p>
                    </div>
                 </div>
                 <div class="f-social" id="f-social">
                    <div class="follow-us">
                        <p>FOLLOW US</p>
                    </div>
                    <div class="social-icons">
                            <img src="https://cdn-icons-png.flaticon.com/512/6033/6033716.png" alt="meta" onclick="gotometa()">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="twitter" onclick="gototwitter()">
                            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111499.png" alt="google" onclick="gotogoogle()">
                    </div>
                    <div class="mail">
                        <br>
                        <p><span class="chat">LET's CHAT</span><br>
                        healthgo123@gmail.com <br>
                        +91 1234567890 <br>
                        +91 1234567890</p>
                    </div>
                 </div>
            </div>
    
            <div class="copyright" id="copyright">
                <!-- <div class="f-c-1"> 
                    <p>© 2023 HealthGO | All rights are reserved.| India</p>
                </div> -->
                <div class="made">
                    <p>made with <span class="love"> &nbsp♥&nbsp</span> by <span class="rt"> &nbsp RUNTIME TERROR</span></p>
                </div>
                <div class="consi">
                    <div class="contributors">
                        <p> Contributors : <span class="auto-type"></span></p>
                    </div>
                    <div class="rights">
                        <p>© 2023 HealthGO | All rights are reserved.| India</p>
                    </div>
                </div>
                
            </div>
    
        </div>

        <!-- js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="{{url_for('static',filename='js/faqs.js')}}"></script>
    
</body>
</html>