<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <title>HealthGO | Heart Predictor Result</title>
    <link rel="shortcut icon" href="/images/icon.jpeg" type="image/x-icon">
</head>
<body>

    <!-- navigation -->

    <div id="main">
    
        <!-- navbar -->
        <div id="navbar">
    
            <div class="div1">
                <div class="logo">
                    <a href="/index.html"><img src="/images/healthgologo2.png" alt="logo"></a>
                </div>
            </div>
    
            <div class="div2">
                <ul class="list">
                    <li class="l1"><img src="/images/home-icon-silhouette.png" class="l1img1"><a href="#" class="lia1">Home</a></li>
                    <li class="l2"><img src="/images/information.png" class="l2img2"><a href="#" class="lia2">About us</a></li>
                    <li class="l3"><img src="/images/customer-support.png" class="l3img3"><a href="#" class="lia3">Services</a></li>
                    <li class="l4"><img src="/images/support.png" class="l4img4"><a href="#" class="lia4">Patient Resources</a></li>
                    <li class="l5"><img src="/images/appointment.png" class="l5img5"><a href="#" class="lia5">Appointment</a></li>
                    <li class="l6"><img src="/images/notebook-of-contacts.png" class="l6img6"><a href="#" class="lia6">Contact us</a></li>
                    <li class="l7"><img src="/images/faq.png" class="l7img7"><a href="#" class="lia7">FAQs</a></li>
                </ul>
            </div>
    
            <div class="div3">
                <a href="#"><img src="/images/menu.png" alt="menu" class="menu" id="menuid" onclick="toggleMenu()"></a>
            </div>
    
        </div>
    
        <div id="nav2">
    
            <div class="search">
                <form action="https://www.google.com/search?q" class="form" target="_blank">
                    <input name="q" type="text" placeholder="Search for Medicines and Health Products" class="search-bar">
                    <button type="submit" class="submit-button"><img src="/images/search.png" alt="search-icon" class="submit-image"></button>
                    <!-- <button type="reset" class="reset-button"><img src="/images/close.png" alt="close-icon" class="reset-image"></button> -->
                </form>
            </div>
    
            <div class="login-signup">
                <button type="login" class="login-button">Login</button>
                <button type="signup" class="signup-button">Sign Up</button>
            </div>
    
        </div>
    
    </div>

    <!-- ********************** -->
    <div class="container">
        <div class="box img">

        </div>
        <div class="box img2">
            <div class="head">
                <!-- <div class="form"><h1>Form</h1></div>
                <div class="sub"><h1>Submitted Form</h1></div> -->

            </div>
            <div class="result">
                <div class="resultbox">
                   <h1><center><u>HEART PRIDICTOR</u></center></h1>
                   <div class="finalresult">
                    <!-- Age:<br>
                    sex:<br>
                    chest pain:<br>
                    MaxHr:<br>
                    EXericseAngina:<br>
                    OLdpeak:<br>
                    ST-slope:<br>
                    Flat:<br><br><br> 
                     finalresult=......<br>
                    <button>previ</button> -->
                    <center><h3>"Life Isn't Measured in <br>minutes,but in heartbeats"</h3></center>
                    <center><img src="img/heart-sticker.gif" style="height:200px"alt="" srcset="">
                    </center> <center><h2>Your chances for heart problem is...</h2></center>
                    
                    <div class="button">
                        <!-- <button class="submit">
                            <img src="img/upload.png" alt="submit">
                           <a href="index.html"> Submit</a>
                        </button> -->
                        <button class="back">
                            <img src="img/back.png" alt="back">
                        
                           <a href="from.html">Back</a>
                        </button>
                    </div>
            


                   </div>
                </div>
            </div>

        </div>
        </div>
    
    <div class="container2">
        <div class="box">
            <b><h2>The Types Of Heart Disease:-</h2></b>
            <div class="con">
    
                There are many different types of heart disease. Some you may be born with, called congenital heart disease. Other types develop during your lifetime.
                
                Coronary artery disease (also called coronary heart disease) is the most common type of heart disease. It happens slowly over time when a sticky substance called plaque builds up in the arteries that supply your heart muscle with blood.
                The plaque narrows or blocks blood flow to the heart muscle and can lead to other heart problems:
    
            </div>
            <ul >
                <li><b>Angina -</b> chest pain from lack of blood flow</li>
                <li><b>Heart attacks -</b> when part of the heart muscle dies from loss of blood flow</li>
                <li><b>Heart failure -</b> when your heart can't pump enough blood to meet your body's needs</li>
                <li><b>Arrhythmia -</b> a problem with the rate or rhythm of your heartbeat</li>
            </ul>
            <b><h2>The symptoms of heart disease:-</h2></b>
            <div class="con">
                
    
                Sometimes heart disease may be “silent” and not diagnosed until a person experiences signs or symptoms of a heart attack, heart failure, or an arrhythmia. When these events happen, symptoms may include1
    
            </div>
            <ul >
                <li><b>Heart attack:</b> Chest pain or discomfort, upper back or neck pain, indigestion, heartburn, nausea or vomiting, extreme fatigue, upper body discomfort, dizziness, and shortness of breath.
                   
                    
                </li>
                <li> <b>Arrhythmia:</b> Fluttering feelings in the chest (palpitations).</li>
                <li><b>Heart failure:</b> Shortness of breath, fatigue, or swelling of the feet, ankles, legs, abdomen, or neck veins.</li>
               
            </ul>
            <b><h2>
                The risk factors for heart disease:-</h2></b>
            <div class="con">
    
               
    High blood pressure, high blood cholesterol, and smoking are key risk factors for heart disease. About half of people in the United States (47%) have at least one of these three risk factors.2 Several other medical conditions and lifestyle choices can also put people at a higher risk for heart disease, including
    
            </div>
            <ul >
                <li><b>Diabetes</b> 
                   
                    
                </li>
                <li> <b>Overweight and obesity</b> </li>
                <li><b> Unhealthy diet</b></li>
                <li><b>Physical inactivity</b></li>
               
            </ul>
    
            <b><h2>
                Cardiac rehabilitation:-</h2></b>
            <div class="con">
    
                Cardiac rehabilitation (rehab) is an important program for anyone recovering from a heart attack, heart failure, or some types of heart surgery. Cardiac rehab is a supervised program that includes
    
            </div>
            <ul >
                <li><b>Physical activity</b> 
                   
                    
                </li>
                <li> <b>Overweight and obesity</b> </li>
                <li>Education about healthy living, including healthy eating, taking medicine as prescribed, and ways to help you quit smoking
                </li>
                <li>Counseling to find ways to relieve stress and improve mental health
                </li>
               
            </ul>
            <b><h2>
                Types of Heart Medications:-
            </h2></b>
            <div class="con">
    
                If you've had a heart attack, you will most likely be prescribed medication that you will take for the rest of your life.
    
                There are many types and combinations of drugs used to treat coronary artery disease (CAD), and your doctor or other health care provider will decide the best treatment combination for your situation.
                
            </div>
            <ul >
                <li><b>Calcium Channel Blockers</b> 
                   
                    
                </li>
                <li> <b>Anticoagulants</b> </li>
                <li><b> Antiplatelet Agents and Dual Antiplatelet Therapy</b></li>
                <li><b> ACE Inhibitors</b></li>
                <li> <b>Angiotensin II Receptor Blockers</b> </li>
                <li><b>  Beta Blockers</b></li>
                <li><b> ACE Inhibitors</b></li>
               
            </ul>
            
        </div>
        <div class="box img1">

        </div>
        
        
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="footerbox">
            <div class="footerad">
                <div class="ad ad1"><img class="location" src="img/pin.png" srcset="">
                    <div class="address">Corporate HQ
                        33rd Floor, Aspect Towers,
                        Business Bay, Dubai, UAE</div>
                </div>
                <div class="ad ad2"><img class="location" src="img/mail.png" srcset="">
                    <div class="address">chq@asterdmhealthcare.com</div>
                </div>
                <div class="ad ad3"><img class="location" src="img/telephone.png" srcset="">
                    <div class="address">+91 256548952/5555
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="footerinfo">
            <div class="infobox about1">
                <div class="about">

                    About Us<br>

                    Our Journey<br>
                    Our Services<br>
                    Corporate Governance<br>
                    Leadership<br>
                    Board of Directors<br>
                    Quality Policy<br>
                    Data Privacy and Cookie Policy



                </div>
                <div class="about">


                    Global Network<br>
                    Investors<br>
                    Aster Volunteers<br>
                    Newsroom<br>

                    Health Library<br>
                    Resources<br>
                    Videos<br>



                </div>
                <div class="about">
                    <h1><u>HealthGO</u></h1>

                </div>

            </div>
            <div class="infobox thought">
                “Time and health are two precious assets that we don't recognize and appreciate until they have been
                depleted."
                <div class="tag">
                    <h3><b><u>HealthGO</u></b></h3>
                </div>
                <h6>India's only LegitScript and ISO/ IEC 27001 certified online healthcare platform</h6>
            </div>
            <div class="infobox">
                Subscribe to our Newsletter<br>
                <div class="emailsearch">
                    <input type="text" class="inputtext" value="" placeholder="Enter your email here">
                    <img src="img/SendIcon.svg" class="inputimg" alt="" srcset="">

                </div>
                <div class="name">

                    Stay informed<br>
                    <h1><u>HealthGO</u></h1>
                </div>

                <div class="icon">
                    <img class="face" src="img/facebook.png" alt="" srcset="">
                    <img class="face" src="img/twitter2.png" alt="" srcset="">
                    <img class="face" src="img/instagram.png" alt="" srcset="">
                    <img class="face" src="img/linkedin.png" alt="" srcset="">
                    <img class="face" src="img/youtube.png" alt="" srcset="">

                </div>
                <div class="last">
                    © 2023 HealthGO DM Healthcare. All rights reserved.<br>
                    Designed and Developed by HealthGO-service

                </div>
            </div>
        </div>
    </div>
    
        

<!-- javascript -->
<script src="/demo.js"></script>

</body>
</html>