<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">HealthGO | Hospital SignUp</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/hospitalSignup.css')}}">    
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/4850/4850909.png" type="image/x-icon" id="icon">

</head>

<body>

    <!-- nav-bar -->

    <div id="title-bar">

        <div class="div1" id="div1">
        
            <div class="div1-1">
        
                <div class="div1-1-1">
        
                </div>
        
                <div class="div1-1-2" id="div1-1-2">
                    <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="img">
                </div>
        
                <div class="div1-1-3">
        
                </div>
        
            </div>
        
            <div class="div1-2">
        
                <ul class="list" id="list">
                    <div class="cont1">
                        <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                                class="l1img1"><a href="{{url_for('index')}}" class="lia1" id="lia1">Home</a></li>
                        <div class="line1" id="line1"></div>
                    </div>
        
                    <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a href="#"
                            target="_blank" class="lia2" id="lia2">About us</a></li>
                    <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                            href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia3" id="lia3">Services</a></li>
                    <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                            href="http://127.0.0.1:5502/medicine.html" target="_blank" class="lia4" id="lia4">Patient
                            Resources</a></li>
                    <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                            href="http://127.0.0.1:5500/index.html" target="_blank" class="lia5" id="lia5">Appointment</a></li>
                    <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}" class="l6img6"><a
                            href="http://127.0.0.1:5500/index.html" target="_blank" class="lia6" id="lia6">Contact us</a></li>
                    <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                            href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions" target="_blank"
                            class="lia7" id="lia7">FAQs</a></li>
                </ul>
        
            </div>
        
        </div>



    <div class="outerform">

        <div class="leftimg"></div>
        <div class="innerform">
            <div class="formhead">Hospital SignUp</div>
            <div class="formbox">
                <form action="{{url_for('hsignup')}}" method="POST">
                    
                    <div class="personal ">
                        <div class="pername margin">Information</div>
                        <div class="inputbox ">
                            <div class="infoinput infoname">

                               
                                <input type="text" name="name" placeholder="Hospital Name" class="info-id" required>
                                <!-- <span class="line"></span> -->

                            </div>
                            <!-- <div class="infoinput ">
                                
                                
                                <input type="text" name="" placeholder="Last Name" id="">
   

                                
                            </div> -->

                            <div class="infoinput block"> 
                                <span class="text ">Number of doctor :- </span>
                                <input type="number" id="number" name="numberOfDoctors" value="number" min="5" max="122" placeholder="" required>
                               </div>
                            
                               
                        </div>



                    </div>
                    <div class="personal newper ">

                        <div class="inputbox ">
                           
                            <!-- <div class="infoinput ">
                                
                                
                                <input type="text" name="" placeholder="Last Name" id="">
   

                                
                                      -->
                            <div class="infoinput block todown"> 
                                <div class="class1">
                                <span class="text ">Number of Ambulance :- </span>
                                <input type="number" class="number" name="ambulance" value="number" min="0"  placeholder="" required>
                            </div>
                            <div class="class1"><span class="text ">Total Bed :- </span>
                                <input type="number" class="number" name="beds" value="number" min="0" placeholder="" required>
                               </div>
                            </div>
            
                               
                        </div>



                    </div>
                    


                    <div class="personal communication">
                        <div class="pername margin">Communication details</div>
                        <!-- <div class="input">
                        <input type="text" name="" id="">
                        <span class="text">first name</span>
                        <span class="line"></span>
                    </div> -->
                        <div class="inputbox newcom">

                            
                            <div class="infoinput block mob ">
                                 <div class="class1">
                                     
                                     <span class="text ">Mobile Number</span>
                                     <input type="tel" id="number" class="number" name="number" value="+91 " required>
                                    </div>
                                    <div class="class1">
                                        <span class="text ">Ambulance No.</span>
                                        <input type="tel"id="am" class="number" name="ambnumber" value="+91 " required>
                                    </div>
                           
                            </div>
                            <div class="infoinput"> 
                                <!-- <span class="text ">Address </span> -->
                                <textarea id="" name="address" id ="address"rows="4" cols="50" placeholder="Address"></textarea>
                            </div>
                            <div class="infoinput tosetpos ">
                                
                                <!-- <span class="text">Last name</span> -->
                                <input type="email" name="email" id="your_email" class="input-text"  placeholder="Your Email" required>
                                <!-- <span class="line"></span> -->

                                
                            </div>


                             <div class="infoinput block mob password">
                                <div class="class1">
                                    
                                    <!-- <span class="text ">Password</span> -->
                                    <input type="password" name="password" id="password" class="number" placeholder="Password" required>
                                   </div>
                                   <!-- <div class="class1">
                                       <span class="text " id="text">Confirm password</span>
                                       <input type="password"id="am" class="number"  required>
                                   </div> -->
                          
                           </div>
                               
                        </div>



                    </div>

                    <div class="lastsub">
                        <div class="subbtn to shift">
                            <button type="submit">Submit</button>
                            <!-- <h4>Submit</h4> -->
                            <!-- <input type="submit" value=""> -->
                        </div>
                        <div class="subbtn to">
                            <!-- <h4>Reset</h4> -->
                            <button type="reset">Reset</button>
                        </div>
                        <div class="subbtn">
                            <button type="button">Back</button>
                        </div>
                    </div>

                </form>



            </div>
               


        </div>
    </div>

    <!-- footer -->

    <div class="footer" id="footer">

        <div class="f-img">
            <img src="{{url_for('static',filename='images/logo-no-background.png')}}" alt="footer-image" class="f-image" id="f-image">
        </div>

        <div class="f-mid" id="f-mid">
             <div class="f-contents" id="f-contents">
                <div class="f-cont-para" id="f-cont-para">
                    <p>KEY FEATURES :- </p><br>
                </div>
                <div class="f-cont-list"> 
                    <ul>
                        <li><a href="#">STROKE PREDICTOR</a></li>
                        <li><a href="#">HEART PREDICTOR</a></li>
                        <li><a href="#">BED BOOKING</a></li>
                        <li><a href="#">APPOINT A DOCTER</a></li>
                    </ul>
                </div>
                <div class="policy">
                    <ul>
                        <li>PRIVACY POLICY</li>
                        <li>TERMS AND CONDITIONS</li>
                    </ul>
                </div>
             </div>
             <div class="f-app" id="f-app">
                <div class="app1">
                    <p>LET'S GO <span class="android"> &nbsp ANDROID</span></p>
                </div>
                <div class="app2">
                    <button type="button" for="" value="" onclick="getMyLink()" class="button">Download</button>
                </div>
                <div class="app3">
                    <p>for best user experience</p>
                </div>
             </div>
             <div class="f-social" id="f-social">
                <div class="follow-us">
                    <p>FOLLOW US</p>
                </div>
                <div class="social-icons">
                        <img src="https://cdn-icons-png.flaticon.com/512/6033/6033716.png" alt="meta" onclick="gotometa()">
                        <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="twitter" onclick="gototwitter()">
                        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111499.png" alt="google" onclick="gotogoogle()">
                </div>
                <div class="mail">
                    <br>
                    <p><span class="chat">LET's CHAT</span><br>
                    healthgo123@gmail.com <br>
                    +91 1234567890 <br>
                    +91 1234567890</p>
                </div>
             </div>
        </div>

        <div class="copyright" id="copyright">
            <!-- <div class="f-c-1"> 
                <p>© 2023 HealthGO | All rights are reserved.| India</p>
            </div> -->
            <div class="made">
                <p>made with <span class="love"> &nbsp♥&nbsp</span> by <span class="rt"> &nbsp RUNTIME TERROR</span></p>
            </div>
            <div class="consi">
                <div class="contributors">
                    <p> Contributors : <span class="auto-type"></span></p>
                </div>
                <div class="rights">
                    <p>© 2023 HealthGO | All rights are reserved.| India</p>
                </div>
            </div>
            
        </div>

    </div>
    
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/hospitalSignup.js')}}"></script>
</body>

</html>