<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/medicine.css')}}">
    <link rel="shortcut icon" href="/images/icon.jpeg" type="image/x-icon">
    <title>medicine
    </title>
</head>

<body>

    <!-- navigation bar -->

    <!-- <div id="main">
    
         navbar -->
        <!-- <div id="navbar">
    
            <div class="div1">
                <div class="logo">
                    <a href="/index.html"><img src="/images/healthgologo2.png" alt="logo"></a>
                </div>
            </div>
    
            <div class="div2">
                <ul class="list">
                    <li class="l1"><img src="/images/home-icon-silhouette.png" class="l1img1"><a href="#" class="lia1">Home</a></li>
                    <li class="l2"><img src="/images/information.png" class="l2img2"><a href="#" class="lia2">About us</a></li>
                    <li class="l3"><img src="/images/customer-support.png" class="l3img3"><a href="#" class="lia3">Services</a></li>
                    <li class="l4"><img src="/images/support.png" class="l4img4"><a href="#" class="lia4">Patient Resources</a></li>
                    <li class="l5"><img src="/images/appointment.png" class="l5img5"><a href="#" class="lia5">Appointment</a></li>
                    <li class="l6"><img src="/images/notebook-of-contacts.png" class="l6img6"><a href="#" class="lia6">Contact us</a></li>
                    <li class="l7"><img src="/images/faq.png" class="l7img7"><a href="#" class="lia7">FAQs</a></li>
                </ul>
            </div>
    
            <div class="div3">
                <a href="#"><img src="/images/menu.png" alt="menu" class="menu" id="menuid" onclick="toggleMenu()"></a>
            </div>
    
        </div>
    
        <div id="nav2">
    
            <div class="search">
                <form action="https://www.google.com/search?q" class="form" target="_blank">
                    <input name="q" type="text" placeholder="Search for Medicines and Health Products" class="search-bar">
                    <button type="submit" class="submit-button"><img src="/images/search.png" alt="search-icon" class="submit-image"></button>
                    <button type="reset" class="reset-button"><img src="/images/close.png" alt="close-icon" class="reset-image"></button> -->
                <!-- </form>
            </div>
    
            <div class="login-signup">
                <button type="login" class="login-button">Login</button>
                <button type="signup" class="signup-button">Sign Up</button>
            </div>
    
        </div>
    
    </div> --> 

    <!-- *************** -->
    <div class="medicine">
        <div class="smallbox">
            <div class="contantsmallbox">
                For millions of patients in the MENA and Asia Pacific regions, our network is at hand to fulfil all medical treatment, hospitalisation, diagnostic and pharmacy needs.

            </div>

        </div>
    </div>
    


    <div class="container">
        <a href="stomach.html">
        <div class="cardindex" >
            <div class="img">
                <img src="img/stomach.webp" alt="">
            </div>
            <div class="content">
                <h1>Stomach Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>

            </div>
        </div></a>
        <a href="diabetes.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/diabetes.webp" alt="">
            </div>
            <div class="content">
                <h1>Diabetes Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="cardiac.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/cardiac care.webp" alt="">
            </div>
            <div class="content">
                <h1>Cardiac Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="liver.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/liver.webp" alt="">
            </div>
            <div class="content">
                <h1>Liver Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br></p>
            </div>
        </div></a>
        <a href="bone.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/bone.webp" alt="">
            </div>
            <div class="content">
                <h1>Muscle & Joint</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="kidneny.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/kidneny.webp" alt="">
            </div>
            <div class="content">
                <h1>kidney Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="respiratory.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/respiratory.webp" alt="">
            </div>
            <div class="content">
                <h1>Respiratory Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="eye.html">
        <div class="cardindex">
            <div class="img">
                <img src="img/eye.webp" alt="">
            </div>
            <div class="content">
                <h1>Eye Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
    </div>

    
    <!-- <div class="container">
        <div class="card">
            <div class="img">
                <img src="img/ensure.webp" alt="">
            </div>
            <div class="content">
                <h1>Stomach Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>

            </div>
        </div>
    </div> -->
    <div class="heading">
        <h1> Feature Brands</h1>
    </div>

    <div class="info" id="info">
        <a href="Ensure.html">
        <div class="itmes itme1 minibox1" id="itme1">
            <div class="card1"> 
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>Ensure</h1> -->

                    </div>
                    <!-- <div class="contantbox1">
                       <i>the best and easy way to book your bed and see the bed available</i>
                    </div>
                  

                      <div class="bookit">
                        Take Appointment

                          
                    </div> -->



                </div>
            </div>
        </div></a>
        <a href="sri.html">
        <div class="itmes itme2 minibox2" id="itme2">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>Sri Sri </h1> -->
                    </div>
                </div>
            </div>
        </div></a>
        <a href="dabur.html">
        <div class="itmes itme3 minibox3" id="itme3">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>Dabur</h1> -->
                    </div>
                </div>
            </div>
        </div></a>
        <a href="nivea.html">

        <div class="itmes itme4 minibox4" id="itme4">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>Nivea</h1> -->
                    </div>
                </div>
            </div>
        </div></a>
        <a href="zandu.html">
        <div class="itmes itme5 minibox5" id="itme5">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>zandu</h1> -->
                    </div>
                </div>
            </div>
        </div></a>
        <a href="kapiva.html">
        <div class="itmes itme6 minibox6" id="itme6">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <!-- <h1>Kapiva</h1> -->
                    </div>
                </div>
            </div>
        </div></a>
    </div>


    <div class="heading">
        <h1> Common medicine</h1>

    </div>
 
    <div class="gin" id="gin">
        
    
    
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://media.istockphoto.com/id/1173392930/photo/various-types-of-pills-such-as-antibiotics-anti-inflammatory-drugs-on-a-dark-background.jpg?s=612x612&w=0&k=20&c=sJ4zMquYehA8c7M4jjvbU1KB8E6DIZFItGWafUgaYuA="></div>
            <div class="tcontent">
              <div class="content1">Ibuprofen</div>
              <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/body-pain-relief/g/x/p/10-effective-relief-from-headache-body-pain-and-cold-quick-pain-original-imagjmkxsctxwkt3.jpeg?q=70"></div>
            <div class="tcontent">
              <div class="content1">Dabur Hajmola</div>
              <div class="content2"> 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/body-pain-relief/b/4/p/4-migraine-cooling-headache-pads-4ct-1-box-wellpatch-original-imaghn8pzeyhe2bh.jpeg?q=70"></div>
            <div class="tcontent">
              <div class="content1">Pudin hara pearls</div>
              <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/l1ch4sw0/body-pain-relief/9/n/a/50-pack-of-5-effective-relief-from-headache-body-pain-and-cold-original-imagcxm4hywqfbrd.jpeg?q=70"></div>
            <div class="tcontent">
              <div class="content1">Icarbamide</div>
              <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kr2e3680/body-pain-relief/q/z/v/72-5-herbale-double-action-relief-inhaler-roll-on-for-headache-original-imag4xy8fzxkqhcx.jpeg?q=70"></div>
            <div class="tcontent">
              <div class="content1">silver line</div>
              <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          <div id="card-1" class="card">
            <div class="icontent "><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3W0lGJzgHgiLthXRfDwcdLo9qyEn_yITUCDdjFnfjjw&usqp=CAU&ec=48665701"></div>
            <div class="tcontent">
              <div class="content1">gstatic durgs</div>
              <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
              <!-- <div class="content42"></div> -->
    
              <div class="upperboxprice">
    
    
                <div class="addcartupper">
    
                  <div class="addcart">Add to cart</div>
    
                </div>
               
              </div>
    
    
            </div>
          </div>
          
      
        
        
        
        
        
      </div>
    <div class="heading">
        <h1> Eye Care</h1>
   </div>
    <!-- <div class="cardbox"> -->
        <div class="gin">
        
    
    
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/eye-drops/j/x/7/60-4-aloe-jyoti-2-jyoti-plus-imc-original-imagkfpneffxjaye.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">Ibuprofen</div>
                <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/body-pain-relief/k/p/f/50-pain-relieving-oil-50-ml-pack-of-1-1-bottle-kwik-original-imaghqbmuukyu2ek.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">Dabur Hajmola</div>
                <div class="content2"> 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/832/832/j9d3bm80/bottle/r/t/m/600-medicine-bottle-2-bry-attractive-original-imaez3mt6vqmz2gx.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">Pudin hara pearls</div>
                <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kjabs7k0-0/ayurvedic/k/6/d/ashvagandha-general-wellness-60-tablets-rejuvenates-mind-and-original-imafyw3qkg6fqhxc.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">Icarbamide</div>
                <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/ayurvedic/x/e/i/-original-imaghyxugzr5xz4t.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">silver line</div>
                <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            <div id="card-1" class="card">
              <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/l02r1jk0/ayurvedic/u/4/5/tentex-royal-capsules-1-himalaya-original-imagbxzfywk6qhuy.jpeg?q=70"></div>
              <div class="tcontent">
                <div class="content1">gstatic durgs</div>
                <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
                <!-- <div class="content42"></div> -->
      
                <div class="upperboxprice">
      
      
                  <div class="addcartupper">
      
                    <div class="addcart">Add to cart</div>
      
                  </div>
                 
                </div>
      
      
              </div>
            </div>
            
        
          
          
          
          
          
        </div>
    <!-- </div> -->
    <div class="heading">
        <h1> Stomach Care</h1>
   </div>
   <div class="gin">
        
    
    
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kiow6fk0-0/ayurvedic/j/o/0/120-avipattikar-churna-baidyanath-original-imafyfftygfkvprv.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Ibuprofen</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kikluvk0-0/ayurvedic/k/i/9/200-isabbael-h-baidyanath-original-imafyc9uhufzzshg.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Dabur Hajmola</div>
        <div class="content2"> 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kn3i1zk0/body-pain-relief/u/e/z/3-axe-brand-universal-oil-3ml-imported-from-singapore-bottle-original-imagfugypu5vfyhv.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Pudin hara pearls</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kgpg5u80/drinks-juice/p/f/g/500-nirgundi-ras-plastic-bottle-basic-ayurveda-original-imafwvtnxhznxp3c.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Icarbamide</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/ayurvedic/y/h/l/ulcer-care-60-capsules-relieve-peptic-stomach-symptons-pains-original-imagnjsqpjgdzyth.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">silver line</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kh9gbrk0/ayurvedic/b/c/k/40-belkut-tablet-basic-ayurveda-original-imafxbdfvjryrwwh.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">gstatic durgs</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    

  
  
  
  
  
</div>
    <div class="heading">
        <h1> Diabetes Care</h1>
   </div>
   <div class="gin" id="gin">
    
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/ayurvedic/y/g/z/-original-imagpfdhyyyfwzr2.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Ibuprofen</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kpvivm80/ayurvedic/8/o/1/karela-jamun-juice-natural-juice-made-from-fresh-karela-and-original-imag4ykyxbn9hmfn.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Dabur Hajmola</div>
        <div class="content2"> 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/ayurvedic/3/9/f/-original-imagn9z7pfqfn6zu.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Pudin hara pearls</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/kxp0mfk0/ayurvedic/n/a/t/diabic-care-juice-helps-manage-blood-sugar-boosts-metabolism-and-original-imaga3ce35mzygzy.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">Icarbamide</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/l02r1jk0/ayurvedic/3/t/u/diabecon-tabs-ds-1-himalaya-original-imagbxzjgbedyzry.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">silver line</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    <div id="card-1" class="card">
      <div class="icontent "><img src="https://rukminim1.flixcart.com/image/612/612/jyj0how0/vitamin-supplement/t/2/2/100-madhumehari-granules-baidyanath-original-imafgqugwbmd7bcr.jpeg?q=70"></div>
      <div class="tcontent">
        <div class="content1">gstatic durgs</div>
        <div class="content2">strip of 15 tablets<br><b> MRP:300.only</b></div>
        <!-- <div class="content42"></div> -->

        <div class="upperboxprice">


          <div class="addcartupper">

            <div class="addcart">Add to cart</div>

          </div>
         
        </div>


      </div>
    </div>
    

  
  
  
  
  
</div>



<!-- javascript -->
<script type="text/javascript" src="{{url_for('static',filename='js/medicine.js')}}"></script>
</body>

</html>