<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/medicine.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/icon.jpeg')}}" type="image/x-icon">
    <title>HealthGO | Medicine
    </title>
</head>

<body>

    <!-- naigation bar -->
    <div id="main">
    
        <!-- navbar -->
        <div id="navbar">
    
            <div class="div1">
                <div class="logo">
                    <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='images/healthgologo2.png')}}"
                            alt="logo"></a>
                </div>
            </div>
    
            <div class="div2">
                <ul class="list">
                    <li class="l1"><img src="{{url_for('static',filename='images/home-icon-silhouette.png')}}"
                            class="l1img1"><a href="{{url_for('index')}}" target="_blank" class="lia1">Home</a></li>
                    <li class="l2"><img src="{{url_for('static',filename='images/information.png')}}" class="l2img2"><a
                            href="#" target="_blank" class="lia2">About us</a></li>
                    <li class="l3"><img src="{{url_for('static',filename='images/customer-support.png')}}" class="l3img3"><a
                            href="{{url_for('index')}}" target="_blank" class="lia3">Services</a></li>
                    <li class="l4"><img src="{{url_for('static',filename='images/support.png')}}" class="l4img4"><a
                            href="{{url_for('index')}}" target="_blank" class="lia4">Patient Resources</a></li>
                    <li class="l5"><img src="{{url_for('static',filename='images/appointment.png')}}" class="l5img5"><a
                            href="{{url_for('index')}}" target="_blank" class="lia5">Appointment</a></li>
                    <li class="l6"><img src="{{url_for('static',filename='images/notebook-of-contacts.png')}}"
                            class="l6img6"><a href="{{url_for('index')}}" target="_blank" class="lia6">Contact us</a></li>
                    <li class="l7"><img src="{{url_for('static',filename='images/faq.png')}}" class="l7img7"><a
                            href="https://www.healthline.com/health/bezzy-psoriasis-frequently-asked-questions"
                            target="_blank" class="lia7">FAQs</a></li>
                </ul>
            </div>
    
            <div class="div3">
                <a href="#"><img src="{{url_for('static',filename='images/menu.png')}}" alt="menu" class="menu" id="menuid"
                        onclick="toggleMenu()"></a>
            </div>
    
        </div>
    
        <div id="nav2">
    
            <div class="search">
                <form action="https://www.google.com/search?q" class="form" target="_blank">
                    <input name="q" type="text" placeholder="Search for Medicines and Health Products" class="search-bar">
                    <button type="submit" class="submit-button"><img
                            src="{{url_for('static',filename='images/search.png')}}" alt="search-icon"
                            class="submit-image"></button>
                    <!-- <button type="reset" class="reset-button"><img src="/images/close.png" alt="close-icon" class="reset-image"></button> -->
                </form>
            </div>
    
            <div class="login-signup">
                <button type="login" class="login-button">Login</button>
                <button type="signup" class="signup-button">Sign Up</button>
            </div>
    
        </div>
    
    </div>

    <!-- *************** -->
    <div class="medicine">
        <div class="smallbox">
            <div class="contantsmallbox">
                For millions of patients in the MENA and Asia Pacific regions, our network is at hand to fulfil all medical treatment, hospitalisation, diagnostic and pharmacy needs.

            </div>

        </div>
    </div>
    


    <div class="container">
        <a href="{{url_for('stomach')}}">
        <div class="card" >
            <div class="img">
                <img src="{{url_for('static',filename='images/stomach.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Stomach Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>

            </div>
        </div></a>
        <a href="diabetes.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/diabetes.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Diabetes Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="cardiac.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/cardiac care.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Cardiac Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="liver.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/liver.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Liver Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br></p>
            </div>
        </div></a>
        <a href="bone.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/bone.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Muscle & Joint</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="kidneny.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/kidneny.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>kidney Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="respiratory.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/respiratory.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Respiratory Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
        <a href="eye.html">
        <div class="card">
            <div class="img">
                <img src="{{url_for('static',filename='images/eye.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Eye Care</h1>
                <p>
                    Get 20% discount <br>
                    Get All relife<br>
                </p>
            </div>
        </div></a>
    </div>

    
    <!-- <div class="container">
        <div class="card">
            <div class="img">
                <img src="img/ensure.webp" alt="">
            </div>
            <div class="content">
                <h1>Stomach Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>

            </div>
        </div>
    </div> -->
    <div class="heading">
        <h1> Feature Brands</h1>
    </div>

    <div class="info" id="info">
        <a href="Ensure.html">
        <div class="itmes itme1 minibox1" id="itme1">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>Ensure</h1>

                    </div>
                    <!-- <div class="contantbox1">
                       <i>the best and easy way to book your bed and see the bed available</i>
                    </div>
                  

                      <div class="bookit">
                        Take Appointment

                          
                    </div> -->



                </div>
            </div>
        </div></a>
        <a href="sri.html">
        <div class="itmes itme2 minibox2" id="itme2">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>Sri Sri </h1>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="dabur.html">
        <div class="itmes itme3 minibox3" id="itme3">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>Dabur</h1>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="nivea.html">

        <div class="itmes itme4 minibox4" id="itme4">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>Nivea</h1>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="zandu.html">
        <div class="itmes itme5 minibox5" id="itme5">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>zandu</h1>
                    </div>
                </div>
            </div>
        </div></a>
        <a href="kapiva.html">
        <div class="itmes itme6 minibox6" id="itme6">
            <div class="card1">
                <div class="innercard">

                    <div class="titlebox">
                        <h1>Kapiva</h1>
                    </div>
                </div>
            </div>
        </div></a>
    </div>
    <div class="heading">
        <h1> Common medicine</h1>

    </div>
    <!-- <div class="container">
        <div class="card">
            <div class="img">
                <img src="img/ensure.webp" alt="">
            </div>
            <div class="content">
                <h1>Stomach Care</h1>
                <p>Get 20% discount <br>
                    Get All relife<br>
                </p>

            </div>
        </div>
    </div> -->

    <div class="cardbox">
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/softovac-sf-bowel-regulator-for-effective-relief-from-constipation.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>softovac-sf-bowel Regulator</h1>
                <p>
                    jar of 250 gm powder<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/eno-fruit-salt-sachet-5gm-each-lemon.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Eno Fruit Salt Sachet(5gm Each)</h1>
                <p>
                    strip of 15 tablets<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:50.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>

        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/dabur-pudin-hara-pearls.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Dabur dabur pudin hara pearls</h1>
                <p>
                    strip of 10 soft gelatin<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    5047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
        

    </div>
    <div class="heading">
        <h1> Eye Care</h1>
   </div>
    <div class="cardbox">
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/zeroharm-sciences-holo-eyeris-holistic-eye-care-tablet.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Zeoharm Sciences Holo Eyeris</h1>
                <p>
                    bottle of 90ml tablets<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:700.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/jagat-pharma-advance-isoamrit-eye-drop-10ml-each.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Jagat Pharma Advance</h1>
                <p>
                    combo pack of bottles<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:270.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>

        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/hiral-health-viz-9-tablet-60-each.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Hiral Health viz 9 tablet </h1>
                <p>
                    combo pack of bottles<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    5047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>

    </div>
    

    <div class="heading">
        <h1> Stomach Care</h1>
   </div>
    <div class="cardbox">
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/digene.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Digene Acidity & Gas Relief Gel Mint</h1>
                <p>
                    bottle of 450ml oral gel<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/unienzyme-tablet.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>unienzyme-tablet</h1>
                <p>
                    strip of 15 tablets<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:350.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>

        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/electral-powder.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>electral-powder</h1>
                <p>
                    sachet of 21.8g po.<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    5047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>

    </div>
    <div class="heading">
        <h1> Diabetes Care</h1>
   </div>
    <div class="cardbox">
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/digene.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>Digene Acidity & Gas Relief Gel Mint</h1>
                <p>
                    bottle of 450ml oral gel<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/unienzyme-tablet.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>unienzyme-tablet</h1>
                <p>
                    strip of 15 tablets<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    2047 rating<br>

                <div class="price">
                    <h2>MRP:350.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>

        </div>
        <div class="card2">
            <div class="img1">
                <img src="{{url_for('static',filename='images/electral-powder.webp')}}" alt="">
            </div>
            <div class="content">
                <h1>electral-powder</h1>
                <p>
                    sachet of 21.8g po.<br>
                    <span>4.5 <img src="{{url_for('static',filename='images/star.png')}}" alt="" srcset=""></span>
                    5047 rating<br>

                <div class="price">
                    <h2>MRP:300.</h2>only
                    <div class="add">ADD</div>
                </div>
                </p>
            </div>
        </div>
    </div>    

<!-- footer -->

<div class="footer">
    <div class="footerbox">
        <div class="footerad">
            <div class="ad ad1"><img class="location" src="{{url_for('static',filename='images/pin.png')}}" srcset="">
                <div class="address">Corporate HQ
                    33rd Floor, Aspect Towers,
                    Business Bay, Dubai, UAE</div>
            </div>
            <div class="ad ad2"><img class="location" src="{{url_for('static',filename='images/mail.png')}}" srcset="">
                <div class="address">chq@asterdmhealthcare.com</div>
            </div>
            <div class="ad ad3"><img class="location" src="{{url_for('static',filename='images/telephone.png')}}"
                    srcset="">
                <div class="address">+91 256548952/5555
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="footerinfo">
        <div class="infobox about1">
            <div class="about">

                About Us<br>

                Our Journey<br>
                Our Services<br>
                Corporate Governance<br>
                Leadership<br>
                Board of Directors<br>
                Quality Policy<br>
                Data Privacy and Cookie Policy



            </div>
            <div class="about">


                Global Network<br>
                Investors<br>
                Aster Volunteers<br>
                Newsroom<br>

                Health Library<br>
                Resources<br>
                Videos<br>



            </div>
            <div class="about">
                <h1><u>HealthGO</u></h1>

            </div>

        </div>
        <div class="infobox thought">
            “Time and health are two precious assets that we don't recognize and appreciate until they have been
            depleted."
            <div class="tag">
                <h3><b><u>HealthGO</u></b></h3>
            </div>
            <h6>India's only LegitScript and ISO/ IEC 27001 certified online healthcare platform</h6>
        </div>
        <div class="infobox">
            Subscribe to our Newsletter<br>
            <div class="emailsearch">
                <input type="text" class="inputtext" value="" placeholder="Enter your email here">
                <img src="{{url_for('static',filename='images/SendIcon.svg')}}" class="inputimg" alt="" srcset="">

            </div>
            <div class="name">

                Stay informed<br>
                <h1><u>HealthGO</u></h1>
            </div>

            <div class="icon">
                <img class="face" src="{{url_for('static',filename='images/facebook.png')}}" alt="" srcset="">
                <img class="face" src="{{url_for('static',filename='images/twitter2.png')}}" alt="" srcset="">
                <img class="face" src="{{url_for('static',filename='images/instagram.png')}}" alt="" srcset="">
                <img class="face" src="{{url_for('static',filename='images/linkedin.png')}}" alt="" srcset="">
                <img class="face" src="{{url_for('static',filename='images/youtube.png')}}" alt="" srcset="">

            </div>
            <div class="last">
                © 2023 HealthGO DM Healthcare. All rights reserved.<br>
                Designed and Developed by HealthGO-service

            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script src="{{url_for('static',filename='js/medicine.js')}}"></script>
</body>

</html>